body {
    position: relative;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    width: 224px;
    height: 50px;
    @include hide-text;
    background-repeat: no-repeat;
}

.scrolltoTop {
    position: fixed;
    right: 50px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #7c7c7c;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2;
    vertical-align: middle;
    border-radius: 100%;
    a {
        color: #fff;
    }
}

/*header*/

/*media*/
.media-bg {
    background-color: $color-media-bg;
}
.media {
    justify-content: flex-end;
    li {
        padding: 5px 0px;
    }
    a {
        text-decoration: none;
        padding: 0px 10px;
    }
}
.media-fb-text {
    color: $color-media-fb;
    border-right: 1px solid $color-media-bd;
}
.media-fb-text:hover {
    color: #7588b6;
}
.media-tw-text {
    color: $color-media-tw;
}
.media-tw-text:hover {
    color: #56cdfc;
}
/*media*/

/*nav*/
.logo-header {
    background-image: url(../img/logo.png);
}
.menu {
    li {
        margin: 0px 12.5px;
    }
    li:last-child {
        margin: 0px 10px 0px 0px;
    }
    a {
        color: $color-primary;
        text-decoration: none;
        padding: 16px 10px;
        border-bottom: 5px solid transparent;
    }
    a:hover , 
    a.active {
        border-bottom: 5px solid $color-primary;
    }
}
.menu-course-item {
    position: relative;
}
.menu-course-item-detail {
    position: absolute;
    top: 93px;
    display: none;
    z-index: 5;
    background: #fff;
    li {
        display: block;
        margin: 5px;
    }
    li:last-child {
        margin: 5px;
    }
    a {
        border-bottom: 0px solid transparent;
        color: #333333;
    }
    a:hover {
        border-bottom: 0px solid transparent;
        background-color: $color-primary;
        color: #fff;
    }
}


/*nav*/

/*banner*/
.banner-img {
    position: relative;
}
.banner-slogan {
    width: 100%;
    background-color: #333333;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    color: #fff;
    font-size: 2.25rem;
    padding: 36px 0px 36px 20px;
}
/*swiper*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*swiper*/
/*banner*/


/*main-course*/
.course {
    margin-top: 60px;
    padding: 0px 20px;
    justify-content: space-between;
}
.course-item {
    width: 30.3%;
    /*border: 1px solid #000;*/
    box-shadow: -1px 5px 10px -8px #333333;
    text-align: center;
    padding: 25px 20px;
}
.course-img {
    height: 160px;
    line-height: 160px;
    img {
        display: inline-block;
        vertical-align: middle;
    }
}
.course-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.course-jq-text {
    list-style-type: disc;
    text-indent: 20px;
}

/*main-compare*/
.compare {
    text-align: center;
    margin-top: 60px;
    h2 {
        font-size: 1.5625rem;
    }
}
table {
    margin: 30px auto;
    text-align: justify;
    tr {
        border-style: solid;
        border-color: $color-table-bd;
        border-width: 1px 0px 1px 0px;
        line-height: 2.25;
    }
    th {
        font-weight: bold;
    }
    td,th {
        width: 19.5%;
        padding-left: 25px;
    }
}
.table-item-bg {
    background-color: $color-table-bg;
}
.table-text-sp {
    color: $color-primary;
}

/*main-info*/
.info {
    margin-top: 60px;
    background: -webkit-linear-gradient(to bottom, $color-sec, #009772);
    background: linear-gradient(to bottom , $color-sec, #009772);
    .container {
        padding: 32px 20px;
    }
}

.info-title {
    color: #fff;
    font-size: 1.5rem;
    /*line-height: 1.5;*/
    text-align: center;
    margin-bottom: 32px;
}
form {
    position: relative;
    textarea,
    .form-item input {
        width: 460px;
        border-radius: 3px;
        border: 1px solid transparent;
        padding-left: 12px;
    }
    textarea {
        height: 245px;
        margin-right: 40px;
    }
    .form-item input {
        line-height: 2.25;
    }
    label {
        color: #fff;
    }
    input[type=button] {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 0.875rem;
        padding: 6px 20px;
        border-radius: 3px;
        border: 1px solid transparent;
        background-color: $color-primary;
        color: #fff;
    }
    input[type=button]:hover {
        background-color: #fff;
        color: $color-primary;
    }
    input::placeholder {
        color: #000000;
    }
}

/*footer*/
.logo-footer {
    background-image: url(../img/footerLogo.png);
}
.footer-pd {
    padding: 28px 0px 50px 0px;
}
.contact {
    a {
        display: inline-block;
        color: $color-contact;
        text-decoration: none;
    }
    a:hover {
        color: #f36cab;
    }
}